body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #627254;
    height: 10rem;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.links {
    justify-content: center;
    gap: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    flex: 1;
}

.links li {
    height: 25px;
    width: 70px;
    text-align: center;
    border: 1px solid #76885B;
    border-radius: 20%;
    box-shadow: 1px 1px 7px gray;
    transition: 0.25s;
}

.links li:hover {

    box-shadow: 3px 3px 10px rgb(77, 77, 77);
}

ul {

    list-style: none;
    justify-self: center;
}

.Logo {
    padding: 10px;
    margin: 10px 100px;
    color: #f9faf8;
    font-size: 24px;
}

.Top {
    background-color: #76885B;
    display: flex;
    flex-wrap: wrap;
}

.Top div {
    flex: 1;
}

.TopHeading {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    width: 400px;
    text-align: center;

}

.TopContent {
    font-size: 18px;
    color: #e5e7eb;

    align-items: center;
    display: flex;
    flex-wrap: wrap;

    width: 300px;
    text-align: center;
    padding: 20px;
    margin: 30px;
    margin-top: 0px;
}

.TopRight {
    display: flex;
    flex-direction: column;

    justify-content: center;

    align-items: center;
    flex-wrap: wrap;




}

.TopImage img {
    margin: 50px 50px;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transition: 0.25s;

}

.TopImage img:hover {

    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);


}

.Middle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #DDDDDD;

}

.MiddleHeading {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding: 50px;
    text-align: center;

}

.skills img {
    width: 130px;
    border-radius: 25%;
    border: 2px solid #1f2937;
    box-shadow: 5px 5px 6px gray;
    transition: 0.25s;
}

.skills img:hover {
    box-shadow: 7px 7px 10px rgb(82, 82, 82);
}

.skills {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    flex-wrap: wrap;
}

.Bottom {
    background-color: #DDDDDD;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Bottom .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #76885B;
    width: 400px;

    color: #e5e7eb;
    text-align: center;
    padding-top: 30px;
    flex: auto;
    border-radius: 10%;

}

footer {
    background-color: #627254;
    height: 100px;
    font-size: 18px;
    color: #e5e7eb;
    text-align: center;
    padding-top: 40px;

}

/* Base button styles */
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #4CAF50;
    /* Green border */
    color: #FFFFFF;
    /* White text */
    background-color: #4CAF50;
    /* Green background */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Hover effect */
button:hover {
    background-color: #45a049;
    /* Darker green */
    border-color: #45a049;
    /* Darker green */
}

/* Active effect */
button:active {
    background-color: #3e8e41;
    /* Even darker green */
    border-color: #3e8e41;
    /* Even darker green */
}

/* Disabled state */
button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* You can add more specific classes for different button variations (e.g., primary, secondary, etc.) */